/* Styles Page */
body {
  background-color: #f4f5f6;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0 auto;
  max-width: 1300px;
}

h1 {
  font-family: 'Kadwa', serif;
  letter-spacing: -3px;
  margin: 0;
  padding: 0;
}

h3 {
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.red-hover:hover {
  text-decoration: underline red;
}

.text-danger {color: #f72210 !important;}

.bg-danger, .btn-danger {background-color: #f72210 !important;}

/* Some Resets*/

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

.container-fluid, .col, ul{
  margin: 0;
  padding: 0;
}

/*----------   H e a d e r    -----------*/

header {
  background-color: white;
}

.sticky-div {
  align-items: center;
  font-size: 33px;
  font-weight: bold;
  height: 49px;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 34;
}

.big-logo {
  font-size: 77px;
  font-weight: bold;
}

.right-header-div {
  justify-content: flex-end;
}

.date-header{
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 50px;
}

.sign-nav{
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.subscribe {
  background-color: white;
  color: red;
  font-size: 1.2rem;
  font-weight: bold;
  height: 2rem;
  margin-left: 4px;
  padding: 2px 10px;
}

.fas {font-size: 28px;}

/*Navbar*/
.border-bottom {
  border-color: gray;
  border-width: 4px;
  
}

.side-bordered {
  border-right: 1px solid lightgray;
  height: 30px;
}


.sticky {
  display: flex !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* Sticky Navbar "fix" */

.expand-div {
  display: flex;
  position: fixed;
  right: 0;
  top: 43px;
  z-index: 100;
}

.expand-ul {
  background-color: white;
  flex-direction: column;
  width: 220px;
  z-index: 100;
}

.expand-ul li {    
  width: 100%;
}

.expand-div .black-hover:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}

.expand-div .navbar-expand-lg {width: 220px;}

.expand-div .side-bordered {border: none;}

/*-------*/

.red-hover:hover {
  color: red;
  cursor: pointer;
}

.navbar-ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px 6px;
  text-align: center;
  width: 100%;
}

.navbar-li {
  font-size: 21px;
  font-weight: bold;
  justify-content: center;
  line-height: 24px;
  list-style-type: none;
}

.first-li {padding-left: 0;}

.last-li {border: none;}

#search {
  border: none;
  color: gray;
  font-size: 18px;
  padding-bottom: 4px;
  width: 56px;
}

#search-2 {
  color: gray;
  font-size: 18px;
  padding-bottom: 4px;
  width: 56px;
  border: none;
}

.material-icons {
  position: relative;
  top: 6px;
}

/*
==========================================================================================
           ------->       M a i n   C o n t e n t       <-------
==========================================================================================
*/

.main-content {
  max-width: 1280px;
}

.culture-div {background-color: #f4f5f6;}

.culture-bottom-link {
  background-color: #c2d4d7;
  color: black;
  font-size: 14px;
  font-weight: 300;
}

.culture-bottom-link:hover{
  background-color: black;
  color: #c2d4d7;
}

.condensed-link {
  color: black;
  font-size: 20px;
}

.img-anchor {
  bottom: 0;
  left: 0;
  position: absolute;
}

.stories-img-div {width: 135px;}

.headshot {
  height: 63px;
  width: 63px;
}

.opinion-link {color: black;}

.opinion-link:hover {color: red;}

.op-name {font-size: 14px;}

.sign-up {background-color: #f4f5f6;}

.n-typo{
  font-size: 20px;
  line-height: 20px;
}

.su-fake-btn {
  background-color: rgb(78, 78, 78);
  font-size: 18px;
}

.su-fake-btn:hover {
  background-color: gray;
}

.preferences {font-size: 14px}

.latest-img-div {
  flex-shrink: 0;
  width: 135px;
}

.small-img-grid {
  flex-shrink: 0;
  width: 135px;
}

/* =========== Articles Grid =========== */
.grid-title {height: 37px;}

.issue-call {
  background-color: #f4f5f6;
  font-size: 1.1rem;
}

.issue-call:hover {
  background-color: #bebebe;
  cursor: pointer;
}


.fill-img-cont {
  overflow: hidden;
}

.fill-img {
  flex: 1;
  height: 100%;
}


/* ============ Subscribe Div ==============*/
.subscribe-cont {background-color: #f4f5f6;}

.overlapped-img {
  left: 90px;
  position: absolute;
  top: 14px;
  z-index: 11;
}

.subs-imgs-cont {
  height: 250px;
  width: 280px;
  }


/* - - - F o o t e r - - - */
.fab {font-size: 24px;}

.footer-ul {
  min-height: 50px;
  min-width: 150px;
}

.footer-li {
  font-size: 0.91em;
  max-height: 30px;
}

.lang-ul {
  max-height: 55px;
  max-width: 300px;
}


/* Media Query for large screens */
@media (max-width: 991px) {
  .big-logo {
    font-size: 30px;
  }

  .header-cont {padding-top: 0 !important;}

  .date-header {
    margin: 0;
    padding: 0;
  }

 
  .right-header-div {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
  }

  .left-header-div {
    align-items: center;
    justify-content: flex-start;
    margin-left: 14px;
    max-width: 160px;
  }
  
  .main-btn {
    margin: 0 8px;
    max-height: 37px;
    width: 40px;
    z-index: 100;
  }

  .header-cont {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
  }

  main {padding-top: 43px;}

  nav {
    position: fixed;
    right: 0;
    top: 43px;
    z-index: 100;
  }

  .navbar-ul {
    flex-direction: column;
    z-index: 100;
  }

  .navbar-li {    
    width: 100%;
  }

  .black-hover:hover {
    background-color: black;
    color: white;
    text-decoration: none;
  }

  .navbar-expand-lg {width: 220px;}

  .side-bordered {border: none;}

  .latest-img-div {width: 258px;}

  .small-img-grid {width: 135px;}

}

/* Media query for small screens */
@media (max-width: 481px) { 
  .big-logo {font-size: 22px;}

  .date-header {font-size: 14px;}

  .nw-logo {font-size: 22px;}

  .sticky-div {
    align-items: center;
    height: 37px;
  }

  main {padding-top: 34px;}

  .subscribe {
    font-size: 14px;
    line-break: strict;
    margin: 0;
    min-width: 110px;
    padding: 0;
  }

  .social {justify-content: flex-start !important;}

  .sign-nav {font-size: 1rem;}

  .left-header-div {
    line-break: strict;
    max-width: 120px;
  }

  .right-header-div {min-width: 200px;}
  
  .header-cont {
    max-height: 50px;
    min-width: 326px;
    overflow: hidden;
  }

  .latest-img-div {width: 135px;}

}

