/* Styles Page */

.container-fluid {
  padding: 0;
}

.col {
  padding: 0;
}

.border-bottom {
  border-color: gray;
  border-width: 4px;
}

.side-bordered {
  border-right: 1px solid lightgray;
  height: 30px;
}

#search {
  border: none;
}

.red-hover:hover {
  color: red;
  cursor: pointer;
}

.marginal {
  min-width: 170px;
}